<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="d-flex justify-content-between py-2 px-5" style="background-color:#f8f9fa; ">
            <div>
                <img src="{{ asset("img/logo.png") }}">
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                    <span class="navbar-toggler-icon">OPEN</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav   me-auto">


                    </ul>
                    <ul class="navbar-nav ms-auto">

                        {% if app.user  %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                            </li>
                        {%  endif %}
                    </ul>

                </div>
            </div>
        </nav>

        {% block message %}
            <div class="row">
                {% for key ,message in app.flashes() %}

                        <div class="col-12 my-1">
                            <div class="alert {% if key == "Error"  %} alert-danger {% else %} alert-success {%endif%} alert-dismissible fade show" role="alert">

                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{message[0]}}
                            </div>
                        </div>

                {% endfor %}
            </div>
        {% endblock %}


        {% block body %}{% endblock %}
    </body>
</html>
